
<div class="contacto-container">
    <div class="info">
      <h2>Registro de contactos</h2>
      <p></p>
      <p><strong>Nombre</strong></p>
      <p class="telefono">Arrieta Morales Admir</p>
      <p><strong>Teléfono</strong></p>
      <p class="telefono">988 987 9546</p>
      <p><strong>Teléfono</strong></p>
      <p class="telefono">988 987 9546</p>
    </div>
  
    <div class="formulario">
      <form>
        <input type="text" placeholder="Nombres">
        <input type="tel" placeholder="Teléfono">
        <input type="email" placeholder="Email">
        <textarea placeholder="Mensaje"></textarea>
        <button type="submit">ENVIAR FORMULARIO</button>
      </form>
    </div>
  </div>
  <div class="contacto-container">
    <div class="info">
      <h2>Registro de contactos</h2>
      <p></p>
      <p><strong>Nombre</strong></p>
      <p class="telefono">Arrieta Morales Admir</p>
      <p><strong>Teléfono</strong></p>
      <p class="telefono">988 987 9546</p>
      <p><strong>Teléfono</strong></p>
      <p class="telefono">988 987 9546</p>
    </div>
  
    <div class="formulario">
      <form>
        <input type="text" placeholder="Nombres">
        <input type="tel" placeholder="Teléfono">
        <input type="email" placeholder="Email">
        <textarea placeholder="Mensaje"></textarea>
        <button type="submit">ENVIAR FORMULARIO</button>
      </form>
    </div>
  </div>
  <div class="contacto-container">
    <div class="info">
      <h2>Registro de contactos</h2>
      <p></p>
      <p><strong>Nombre</strong></p>
      <p class="telefono">Arrieta Morales Admir</p>
      <p><strong>Teléfono</strong></p>
      <p class="telefono">988 987 9546</p>
      <p><strong>Teléfono</strong></p>
      <p class="telefono">988 987 9546</p>
    </div>
  
    <div class="formulario">
      <form>
        <input type="text" placeholder="Nombres">
        <input type="tel" placeholder="Teléfono">
        <input type="email" placeholder="Email">
        <textarea placeholder="Mensaje"></textarea>
        <button type="submit">ENVIAR FORMULARIO</button>
      </form>
    </div>
  </div>
  <div class="contacto-container">
    <div class="info">
      <h2>Registro de contactos</h2>
      <p></p>
      <p><strong>Nombre</strong></p>
      <p class="telefono">Arrieta Morales Admir</p>
      <p><strong>Teléfono</strong></p>
      <p class="telefono">988 987 9546</p>
      <p><strong>Teléfono</strong></p>
      <p class="telefono">988 987 9546</p>
    </div>
  
    <div class="formulario">
      <form>
        <input type="text" placeholder="Nombres">
        <input type="tel" placeholder="Teléfono">
        <input type="email" placeholder="Email">
        <textarea placeholder="Mensaje"></textarea>
        <button type="submit">ENVIAR FORMULARIO</button>
      </form>
    </div>
  </div>
  